#zone{
    position: relative;
    width: 600;
    height:800;
   background: #A9A9A9;
   align-items: center;
   justify-content: center;
   top: 40%;
   bottom: 50%;
   
   left : 32%;
   border-radius: 5%;
   padding: 10px;
   box-shadow: inset 0 0 1em gold, 0 0 2em rgb(0, 0, 0);
}



#text{

    position: absolute;
    left: 50%;
    top: 10%;
    font-size: 500%;
    font : bold;
    color: #F0e36b;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-weight: extra bold;   
   
}

