
<div class="pre-navbarre" > 
    <div class="icones">
        <img src="../assets/img/facebook.webp" width="25px" height="25px" class="facebook"/>
        <img src="../assets/img/twitter.webp" width="25px" height="25px" class="facebook"/>
        <img src="../assets/img/googleplus.webp" width="25px" height="25px" class="facebook"/>
        <img src="../assets/img/in3.webp" width="25px" height="25px" class="facebook"/>
        
    </div>

    <div class="phonecontacts-1">
        <div class="phrase2-1">
            <div class="localisationicon"><img src="../assets/img/phone2.webp" width="25px" height="25px"/></div>
            <div class="textlocal"><font style="color: white;">+237 697 276 289</font>
            </div>
        </div>
        <div class="phrase2-2">
            <div class="localisationicon"><img src="../assets/img/phone2.webp" width="25px" height="25px"/></div>
            <div class="textlocal"><font style="color: white;">+237 699 988 281</font>
            </div>
        </div>
       
    </div>
    <div class ="numeros">
    <button class="bouton">RAPPELEZ-MOI</button>
    </div>
 </div>
 <div class="navbarre">
    <div class="listlogo">
        <p><ul><li class="lilogo-gros"><i>M.C.A SOFT</i></li>
        <li class="lilogo"><button class="bouton-logo"><i><b>Pour Vous</b></i></button></li>
        </ul>
    </div>
    <div class="listliens">
        <ul>
            <li><a href="#PORTFOLIO">PORTFOLIO</a></li>
            <li><a href="#A PROPOS">A PROPOS</a></li>
            <li><a href="#LANCEZ UN PROJET">LANCEZ UN PROJET</a></li>
            <li><a href="#CONTACTS">CONTACTS</a></li>
            <li><a href="#NOS SERVICES">NOS SERVICES</a></li>

        </ul>
    </div>
    
 </div>    

 <div class="fondvert"> 
    <div><article class="article0"></article></div>
    <div class="bande">
    <article class="petite-bande"> </article>
    <article class="article1">{{infos}}<span class="niv">{{niveau}}</span></article>
    <article class="petite-bande"> </article>
    </div><p>
    <article style="font-family: poppins, sans-serif; color: white; text-align: center; padding-left: 25%; padding-right: 25%;">
        Notre groupe est constitué de freelances prets à vous aider contre de modiques sommes.Ils sont tous 
        qualifiés et ont chacun de l'experience chacun dans son domaine.
    </article>
    <div class="bouton2">
    <article class="bandeinvisible"> </article>
    <button style="background-color: #febe19 ;
    font-family: poppins,sans-serif; border-radius: 4px; width: 120px; height: 50px;border: none;
    align-self: center; box-shadow: 5px 5px 2px 1px #f5c131;"><b>LIRE PLUS</b> </button>
    <article class="bandeinvisible"> </article>
    </div>

    <div><ul class="list2">
        <li class="rond2"> </li>
        <li class="rond2" style="opacity: 50%;"> </li>
        <li class="rond2" style="opacity: 50%;"> </li>
        </ul>
    </div>
</div>

<div class="listicones">

    <p style="font-family: poppins,sans-serif; font-size: 300%; color: #8ec63f;
     font-weight: 600; text-align: center;"><font style="font-family: poppins, sans-serif; color: black;">NOS</font> AVANTAGES
    <!-- <article style="width: 700px;height:0%;background-color: none;"></article> !-->
    <article style="text-align:center; font-family: poppins, sans-serif; padding-left: 25%; padding-right: 25%; font-size:smaller; padding-block:0%;">
         En effet, en vous offrant les services d'un de nos freelances selon vos besoins. Vous pouvez avoir le coeur tranquille car 
        nous garantissons un service-qualité irréprochable.</article>
    <p>
    <div class="tabicones">
        <article class="bandeinvisible2"> </article>
        <div class="bloc1">
            <img src="../assets/img/idea2.webp" width="90" height="90" class="icone"/>
            <p style="font-family: poppins,sans-serif; font-size: 100;font-weight: 600; text-align: center; padding-right:17%;">INNOVATION<p>
            <article style="font-family: poppins,sans-serif; font-size:40 ;text-align: center; color:#a9a9a9; padding-right:17%;">Nos freelances sont 
                tous dotés d'une grande créativité, de quoi vous etonner !
            </article>
        </div>
        <div class="bloc2">
            <img src="../assets/img/like.png" width="90" height="90" class="icone"/>
            <p style="font-family: poppins,sans-serif; font-size: 100;font-weight: 600; text-align: center; padding-right:17%">QUALITE
            <p>
                <article style="font-family: poppins,sans-serif; font-size:40 ;text-align: center; color:#a9a9a9; padding-right:17%;">Les resultats de
                    attentes seront allucinants et la qualité au rendez-vous!
                </article>
        </div>
        <div class="bloc3">
            <img src="../assets/img/group.webp" width="90" height="90" class="icone"/>
            <p style="font-family: poppins,sans-serif; font-size: 100;font-weight: 600; text-align: center; padding-right:17%">CLIENTS SATIFAITS
            <p>
                <article style="font-family: poppins,sans-serif; font-size:40 ;text-align: center; color:#a9a9a9; padding-right:17%;">Nous avons aussi 
                    un grand reséau de clients satisfaits et d'habitués.
                </article>
        </div>
        <div class="bloc4">
            <img src="../assets/img/chat.webp" width="90" height="90" class="icone" />
            <p style="font-family: poppins,sans-serif; font-size: 100;font-weight: 600; text-align: center; padding-right:17%">AIDE-CLIENT
            <p>
                <article style="font-family: poppins,sans-serif; font-size:40 ;text-align: center; color:#a9a9a9; padding-right:17%;">Notre support technique
                    est là pour vous 7j/7 et 24h/24 !
                </article>
        </div>
    </div>
   
    </div>
    
    <div class="aboutus" id="A PROPOS">
        <div>
        <p style="font-family: poppins,sans-serif; font-size: 300%; color: #8ec63f;
    font-weight: 600; text-align: center;"><font style="font-family: poppins, sans-serif; color: black;">A PROPOS DE </font>NOUS</div>
        <div class="horizontal">
        <div class="text">
            <p><p class="textaboutus">M.C.A soft est un collectif d'experts en informatique
                chacun dans un domaine précis et avec au moins 3 ans d'experience. En effet ce regroupement existe depuis 2014 avec pour ferme ambition de revolutionner le monde de l'emploi camerounais
                avec ses idées novatrices et ses experts aux origines multiples, le tout pour donner un coup de main pour le developpement de notre cher et beau pays le cameroun.Pour ce faire, depuis la 
                création de notre entreprise nous recherchons des exprets peu importe leurs origines, mais les camerounais resteront toujours prioritaires, nous nous assurons de la qualité de leurs formation
                pour vous garantir ainsi des services de qualité sous des delais extremement bref. <br> <br> Chez nous, l'efficacité est de mise pour un meilleur rendement.
                M.C.A soft est donc un cadre de confiance pour vos projets informatiques quels qu'ils soient....Nous sommes les hommes de la situation ! M.C.A soft, parrainée par son fondateur et directeur général Morgane Claudel ANGO
            Ingenieur de conception,graphiste, manageur des systèmes d'informations et Web Master vous garantit de sa fiabilité< incomensurable ./br>
            <button style="background-color: #febe19 ;
               font-family: poppins,sans-serif; border-radius: 4px; width: 120px; height: 50px;border: none;
               align-self: center; margin-left: 100px;"><b>LIRE PLUS</b> </button>
        </div>
        <div class="image">
            <img src="../assets/img/shopping.webp" with="700" height="500"/>
        </div>
       </div>
    </div>
    <div id="NOS SERVICES"><p style="font-family: poppins,sans-serif; font-size: 300%; color: #8ec63f;
    font-weight: 600; text-align: center;"><font style="font-family: poppins, sans-serif; color: black; ">NOS </font>SERVICES</div>
     <article style="text-align:center; font-family: poppins, sans-serif; padding-left: 25%; padding-right: 25%; font-size:smaller; padding-top:0px;">
    Du fait de nos nombreux freelances, nous offrons par conséquent un large panel de services informatiques</article>
    <p style="padding-top: 100px;">
    <div class="services" id="NOS SERVICES">
        <div class="service">
            <img src="../assets/img/coin.webp" width="100" height="100"class="star"/>
            <p style="font-family: poppins,sans-serif; font-size: 100;font-weight: 600; text-align: center; padding-right:17%; margin-left: 50px;">WEB DESIGN<p>
                <article style="font-family: poppins,sans-serif; font-size:40 ;text-align: center; color:#a9a9a9; padding-right:17%; margin-left: 40px;">Le Web design est un des domaines où nous excellons.
                    <p style="color: #8ec63f;"><u>Lire plus</u>
                </article>
        </div>
        <div class="service">
            <img src="../assets/img/coin.webp" width="100" height="100"class="star"/>
            <p style="font-family: poppins,sans-serif; font-size: 100;font-weight: 600; text-align: center; padding-right:17%; margin-left: 50px;">DESIGN GRAPHIQUE<p>
                <article style="font-family: poppins,sans-serif; font-size:40 ;text-align: center; color:#a9a9a9; padding-right:17%; margin-left: 40px;">Une activité très prisée et répandue  où qu'on aille de nos jours.
                    <p style="color: #8ec63f;"><u>Lire plus</u>
                </article>
        </div>
            
        <div class="service">
            <img src="../assets/img/coin.webp" width="100" height="100"class="star"/>
            <p style="font-family: poppins,sans-serif; font-size: 100;font-weight: 600; text-align: center; padding-right:17%; margin-left: 50px;">BRANDING<p>
                <article style="font-family: poppins,sans-serif; font-size:40 ;text-align: center; color:#a9a9a9; padding-right:17%; margin-left: 40px;">Nous avons aussi des pros de la communication qui vous ferons connaitre!
                    <p style="color: #8ec63f;"><u>Lire plus</u>
                </article>
        </div>
        <div class="service">
            <img src="../assets/img/coin.webp" width="100" height="100"class="star"/>
            <p style="font-family: poppins,sans-serif; font-size: 100;font-weight: 600; text-align: center; padding-right:17%; margin-left: 50px;">MARKETING<p>
                <article style="font-family: poppins,sans-serif; font-size:40 ;text-align: center; color:#a9a9a9; padding-right:17%; margin-left: 40px;">Eh oui! le marketing n'échappe pas à nos filets, nous vous aidons pour tout
                    <p style="color: #8ec63f;"><u>Lire plus</u>
                </article>
        </div>
    </div>
    
    <p>  
         <div class="portfolio" id="PORTFOLIO">
        <div class="titreportfolio"><p style="font-family: poppins,sans-serif; font-size: 300%; color: #8ec63f;
    font-weight: 600; text-align: center;"><font style="font-family: poppins, sans-serif; color:white;">NOS </font>PORTFOLIOS
     <article style="text-align:center; font-family: poppins, sans-serif; padding-left: 25%; padding-right: 25%; font-size:smaller; padding-top:0px; color: white;">
        Vous avez dans cette grille annexe quelques réalisations de nos experts, vous pouvez vous procurer nos services si vous souscrivez dès maintenant! Qu'attendez vous ?</article>
       <ul class="listportfolio">
        <li class="listport"><a href="#LIEN1">WEB DESIGN</a></li>
        <li class="listport"><a href="#LIEN2">DESIGN GRAPHIQUE</a></li>
        <li class="listport"><a href="#LIEN3">BRANDING</a></li>
        <li class="listport"><a href="#LIEN4">LOGO</a></li>
        <li class="listport"><a href="#LIEN5">MARKETING</a></li>
        <li class="listport"><a href="#LIEN5">PUBLICITE</a></li>
        
       </ul>
        </div> 
        <div class="grille">
        <img src="../assets/img/portfolio1.webp" width="200" height="150"/>
        <img src="../assets/img/portfolio2.webp"width="200" height="150"/>
        <img src="../assets/img/portfolio3.webp"width="200" height="150"/>
        <img src="../assets/img/portfolio4.webp"width="200" height="150"/>
        <img src="../assets/img/portfolio5.webp"width="200" height="150"/>
        <img src="../assets/img/portfolio6.webp"width="200" height="150"/>
        <img src="../assets/img/portfolio7.webp"width="200" height="150"/>
        <img src="../assets/img/portfolio8.webp"width="200" height="150"/>
        <img src="../assets/img/portfolio9.webp"width="200" height="150"/>
        <img src="../assets/img/portfolio10.webp"width="200" height="150"/>
        <img src="../assets/img/portfolio11.webp"width="200" height="150"/>
        <img src="../assets/img/portfolio12.webp"width="200" height="150"/>
       <!-- <img src="../assets/img/monde5.webp"width="200" height="150"/>
        <img src="../assets/img/typing-concept.webp"width="200" height="150"/>-->
        

        </div>
    </div>
    

    <p>
        <div class="newproject" id="LANCEZ UN PROJET">
            <div><article class="article2">LANCEZ VOTRE PROJET</article>
                <div class="formulaire">
            <div>
                <form>
                 <label for="NOM"></label>
                 <input type="text" class="champ" placeholder="VOTRE NOM">
                </form>
            </div>
            <div>
                <form>
                    <label for="EMAIL"></label>
                    <input type="email" class="champ" placeholder="EMAIL">
                   </form> 
            </div>
            <div>
                <form>
                    <label for="PHONE"></label>
                    <input type="text" class="champ" placeholder="PHONE">
                   </form> 
            </div>
            <div class="submit">
                <button class="submit1">ENVOYER UNE REQUETE</button>
            </div>
         </div>
      </div>
      <p>
      <div>
        <article style="text-align:center; font-family: poppins, sans-serif; padding-left: 25%; padding-right: 25%; font-size:smaller; padding-block:0%; color: white;">
        M.C.A soft recrute! vous etes freelance indépendant et vous cherchez une tutelle ? Envoyez une canditature et une reponse vous sera envoyée dans les plus bref delais !</article>
      </div>
    

    <div id="CONTACTS"><p style="font-family: poppins,sans-serif; font-size: 300%; color: #8ec63f;
     font-weight: 600; text-align: center;"><font style="font-family: poppins, sans-serif; color: black;">NOS</font> CONTACTS
    <!-- <article style="width: 700px;height:0%;background-color: none;"></article> !-->
    <article style="text-align:center; font-family: poppins, sans-serif; padding-left: 25%; padding-right: 25%; font-size:smaller; padding-block:0%;">
        Ici seront répertoriés les contacts et adresses principales de notre entreprise. N'hésitez pas à nous contacter ou à venir nous renconter.</article>
    <p></div> 
    <div class="phrase1">
        <div class="localisationicon"><img src="../assets/img/local3.webp" width="25px" height="25px"/></div>
        <div class="textlocal">YAOUNDE : Odza, Messamendongo rue:1245 ; DOUALA : Bonapriso, carrefour-ing3isi
        </div>
    </div>

    <div class="phonecontacts">
        <div class="phrase2">
            <div class="localisationicon"><img src="../assets/img/phone2.webp" width="25px" height="25px"/></div>
            <div class="textlocal">+237 697 276 289
            </div>
        </div>
        <div class="phrase2">
            <div class="localisationicon"><img src="../assets/img/phone2.webp" width="25px" height="25px"/></div>
            <div class="textlocal">+237 699 988 281
            </div>
        </div>
        <div class="phrase2">
            <div class="localisationicon"><img src="../assets/img/email1.webp" width="25px" height="25px"/></div>
            <div class="textlocal">morganeangoc@gmail.com
            </div>
        </div>
    </div>

<p>
    <div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3" class="map">
		<div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div><script>(function () {
        var setting = {"height":553,"width":1920,"zoom":5,"queryString":"Cameroon","place_id":"ChIJIQ8-cFM3YRARU5uCmUXEAys","satellite":false,"centerCoord":[7.406655115336304,12.294004065963371],"cid":"0x2b03c44599829b53","lang":"fr","cityUrl":"/cameroon/kofa-433902","cityAnchorText":"Carte de Kofa, Cameroun","id":"map-9cd199b9cc5410cd3b1ad21cab2e54d3","embed_id":"897544"};
        var d = document;
        var s = d.createElement('script');
        s.src = 'https://1map.com/js/script-for-user.js?embed_id=897544';
        s.async = true;
        s.onload = function (e) {
          window.OneMap.initMap(setting)
        };
        var to = d.getElementsByTagName('script')[0];
        to.parentNode.insertBefore(s, to);
      })();</script><a href="https://1map.com/fr/map-embed">1 Map</a></div>


        <div class="foot1">
            <div class="foota"><article style="font-family: poppins,sans-serif; font-size: 30px;
            font-weight: 600; color: white;margin-left: 50px; margin-right: 50px; padding-top: 60px;"><i>M.C.A SOFT </i><button class="dernier">POUR VOUS</button></article>
           <p style="font-family: poppins,sans-serif; color: white;margin-left: 50px; margin-right: 50px; font-size: 12px;">M.C.A soft est un collectif d'experts en informatique
            chacun dans un domaine précis et avec au moins 3 ans d'experience. En effet ce regroupement existe depuis 2014 avec pour ferme ambition de revolutionner le monde de l'emploi camerounais
            avec ses idées novatrices et ses experts aux origines multiples, le tout pour donner un coup de main pour le developpement de notre cher et beau pays le cameroun.
           <p style="padding-top: 50px; font-family: poppins,sans-serif; color: white;font-size: 12px;margin-left: 50px;
          padding-top: 110px;">@Copyright 2023
        
        
        </div>
            <div class="footb"><article style="font-family: poppins,sans-serif; font-size: 30px;
                font-weight: 600; color: white;margin-left: 150px; margin-right: 50px; padding-top: 60px;">SERVICES</article>
            <ul class="ulfooter">
                <li class="lifooter">WEB DESIGN</li>
                <li class="lifooter">DESIGN GRAPHIQUE</li>
                <li class="lifooter">MARKETING</li>
                <li class="lifooter">BRANDING</li>
            </ul>

            </div>
            <div class="footc"><article style="font-family: poppins,sans-serif; font-size: 30px;
                font-weight: 600; color: white;margin-left: 150px; margin-right: 50px; padding-top: 60px;">LIENS UTILES</article>
                 <ul class="ulfooter">
                    <li class="lifooter"><a href = "Page Restauration.html" target = "_blank">page de la restauration</a></li>
                    <li class="lifooter"><a href = "page tourisme.html" target = "_blank">page de tourisme!</a></li>
                    <li class="lifooter"><a href = "page Voyage.html" target = "_blank">page de voyage</a></li>
                    
                </ul>
            </div>


<div class="verticale">

            <div class="footd"><article style="font-family: poppins,sans-serif; font-size: 30px;
                font-weight: 600; color: white;margin-left: 70px; margin-right: 50px; padding-top: 95px; margin-top: 2px;">CONTACTS</article>
               <p>
               <div class="phonecontacts2">
                 <div class="phrase2" style="margin-left: 80px;">
                    <div class="localisationicon"><img src="../assets/img/phone2.webp" width="25px" height="25px"/></div>
                    <div class="textlocal"><font style="color: white;">+237 697 276 289 </font>
                    </div>
                 </div>
                 <div class="phrase2" style="margin-left: 80px;">
                    <div class="localisationicon"><img src="../assets/img/phone2.webp" width="25px" height="25px"/></div>
                    <div class="textlocal"><font style="color: white;">+237 699 988 281</font>
                    </div>
                 </div>
                 <div class="phrase2" style="margin-left: 80px;">
                    <div class="localisationicon"><img src="../assets/img/email1.webp" width="25px" height="25px"/></div>
                    <div class="textlocal"><font style="color: white;">morganeangoc@gmail.com</font>
                    </div>
                </div>
                <div class="suivez">
                <div>
                    <article style="font-family: poppins,sans-serif; font-size: 30px;
                font-weight: 600; color: white;margin-left: 70px; margin-right: 50px; padding-top: 60px;padding-bottom: 60px;">SUIVEZ-NOUS</article>
                    
                </div>
                <div class="enbas">   <img src="../assets/img/facebook.webp" width="25px" height="25px" class="facebook"/>
                    <img src="../assets/img/twitter.webp" width="25px" height="25px" class="facebook"/>
                    <img src="../assets/img/googleplus.webp" width="25px" height="25px" class="facebook"/>
                    <img src="../assets/img/in3.webp" width="25px" height="25px" class="facebook"/>
                </div>
                </div>
            </div>  


</div>
            
            </div>   
    
    
    



